@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: var(--color-base-100);
    transition: all 300ms;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--primary);
    cursor: pointer;
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
}
